<% if (post.prev || post.next){ %>
<nav class="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" class="nav-link">
      <i class="fa fa-caret-left"></i>
      <span class="nav-title left"><%= post.prev.title %></span>
    </a>
  <% } else { %>
    <div></div>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" class="nav-link">
      <span class="nav-title right"><%= post.next.title %></span>
      <i class="fa fa-caret-right"></i>
    </a>
  <% } %>
</nav>
<% } %>
