/* General Overrides of Metronic */
@import "_variables"
@import "_util/mixin"
@import "_util/grid"
@import "_partial/highlight"

mobile_query = '(max-width: 767px)'

.content-page {
  margin-right: 0px !important;
}

/* Paginator styles */

.pagination > a,
.pagination > span {
  display: inline-block;
  margin-left: 5px;
  border-radius: 25px !important;
  border: none;
  color: #868c93;
  padding: 6px 12px;
  position: relative;
  float: left;
  margin-left: -12px;
  margin-right: 17px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
}

.pagination > a:hover {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
  z-index: 3;
}


.pagination > a:first-child,
.pagination > a:last-child {
  padding: 4px 12px 8px;
}

.pagination span {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}


#page-nav {
  float: none !important;
  margin-bottom: 20px !important;
  margin-left: 5px;
}

/* Extra info topbar tweaks */

@media (max-width: 480px) {
  .pre-header .list-inline li {
    margin-bottom: 2px;
  }

  .page-header-fixed .pre-header {
    opacity: 0;
  }
}

@media (max-width: 767px){
  .pre-header .pull-right {
      float: right !important;
  }
}

/* Menu tweak */

@media (max-width: 1024px) {
  .page-header-fixed .header-navigation {
	  height: auto !important;
  }
}

/* Typography and Posts */

p {
  line-height: 1.5;
}

h4 {
  line-height: 1.5 !important;
}

.article-entry p, .article-entry li {
  text-align: inherit !important;
  line-height: 1.75em !important;
  font-size: 1.2em;
  max-width: 42em;
  color: #333;
}

.article-entry h1, h2, h3, h4, h5 {
  margin-top: 20px;
}

.article-entry
  video
    max-width: 100%

.blog-item .blog-info {
  margin-top: 10px !important;
}

.blog-item img {
  width: 100%;
  margin: 16px 0px;
}

.image-strip {
  max-height: 300px;
  overflow: hidden;
}


/* Index styles */

.row-corporate
  position: relative
  margin: 0 -15px
  size: calc(100% + 30px) 600px
  overflow: hidden
  .bg-index-banner
    pixel-border: #ddd before bottom
    position: absolute
    size: 100%
    background: #F8F8F8 url(../assets/img/bg-banner.png) no-repeat right top / 55% auto
    @media mobile_query
      opacity: .3
      background-size: 100%

.flush-with-header {
  margin-top: -23px; 
}

.row-corporate img {
  height: 500px;
  margin-top: 100px;
}

.row-corporate-text-container {
  height: 600px;
}

.bg-light-1 {
  background: url('/metronic/assets/pages/img/frontend-slider/bg2_BK.jpg') no-repeat center;
}

.bg-light-2 {
  background: url('/metronic/assets/pages/img/frontend-slider/bg4.jpg') no-repeat center;
}

/* Pseudo-element used to push text to center */

.row-corporate-text-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.row-corporate-text {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
}

/* Project Page Styles */

.mix-info {
  display: none;
}

.mix_all {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.mix_all img {
  width: 100%;
}

.btn-primary {
  color: white !important;
  border: 1px solid #e94d1c !important;
}

/* Yuan Design Styles */
.site-logo
  padding: 20px 0
  size: 146px 45px
  box-sizing: content-box
  img
    size: 100%
  @media mobile_query
    size: 100px 30px
    padding: 10px 0 15px

.row-corporate-text
  h4
    responsive-font: 24px 18px
    margin-bottom: 33px
    color: rgba($navy, .97)
    font-weight: normal
  h1
    responsive-font: 48px 30px
    line-height: 1.4
    margin-bottom: 45px
    color: $navy
  p
    responsive-font: 18px 14px
    margin-bottom: 100px
    color: rgba(#000, .45)
  .btn
    padding: 0 88px
    height: 60px
    line-height: @height
    responsive-font: 16px

.reduce-header .header-navigation > ul > li > a
  padding-top: 22px

.header
  margin-bottom: 0
  .header-navigation
    @media mobile_query
      margin: 0 -50px

.header .mobi-toggler
.reduce-header .mobi-toggler
  @media mobile_query
    margin-top: 12px

.header .header-navigation
  > ul
    > li
      width: 72px
      text-align: center
      border-bottom: none
      display: flex
      align-items: center
      @media (max-width: 1024px)
        width: unset
      &.active
      &:hover
        a
          color: rgba(#0a0a0a, .85)
          border-bottom: none
          @media (max-width: 1024px)
            color: rgba(#0a0a0a, .85) !important
      a
        display: flex
        size: 100%
        align-items: center
        justify-content: center
        color: rgba(#0a0a0a, .65)

.footer
.pre-footer
  background: #0c1623;

.social-footer
  > li
    a
      font-size: 1.5em
      color: #c1c2c2

.category-tabs
  background: #f3f3f3
  padding: 40px 0
  font-size: 18px
  line-height: 25px
  ul
    display: flex
    padding: 0
    margin: 0
  li
    list-style: none
    margin-right: 40px
    position: relative
    &.active
      font-weight: bold
      &::before
        content: ''
        display: block
        position: absolute
        bottom: -10px
        margin-left: 50%
        size: 24px 5px
        transform: translateX(-50%)
        background: #00A968
  a
    &, &:hover
      color: #0a0a0a
      text-decoration: none

.main-archive
.secondary-archive
  h1
    font-size: 24px
    line-height: 1
    margin: 64px 0 72px
    color: rgba(#0a0a0a, .85)

.secondary-archive
  padding-left: 30px
  background: #f8f8f8
  background-clip: content-box
  h1
    padding-left: 48px
  @media mobile_query 
    padding: 20px 30px
    margin: 0 -15px
    background-clip: border-box
    h1
      padding-left: 0

.card-list
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: flex-start
  padding: 0
  margin: -10px -10px 0
  list-style: none
  a
    display: block
    text-decoration: none
    padding: 10px
    &:hover
      background: #f8f8f8
  > li
    flex: none
    width: calc(50% - 10px)
    margin-bottom: 96px
    @media mobile_query
      width: 100%
      margin-bottom: 70px
  .thumbnail
    size: 100% 0
    padding-bottom: $coverHeightRatio
    background: no-repeat center / cover
  header
    p
      margin-top: 32px
      font-size: 18px
      line-height: 1
      min-height: @font-size
      color: rgba(#000, .85)
      ellipsis()
      @media mobile_query
        min-height: 0
    h3
      margin-top: 24px
      font-size: 28px
      line-height: 1
      color: rgba(#000, .85)
      ellipsis()

.side-list
  margin-left: 48px
  padding: 0
  @media mobile_query
    margin-left: 0
  li
    list-style: none
    padding: 30px 0
    pixel-border(#ddd, before, top)
    &:last-child
      pixel-border(#ddd, after, bottom)
    transition: all .3s ease-in-out
    &:hover
      transform: translateX(-15px)
  a
    text-decoration: none
    
  header
    span
    em
    time
      margin-right: 12px
      font-size: 14px
      font-style: normal
      line-height: 1
      color: rgba(#0a0a0a, .45)
    em
      color: rgba(#0a0a0a, .65)
    h3
      margin: 16px 0
      font-size: 24px
      line-height: 33px
      color: #0a0a0a

.archive-main
  display: flex
  @media mobile_query
    flex-flow: column

.showcase-list
  padding: 0
  margin-bottom: 60px
  li
    list-style: none
    padding: 30px 0
    pixel-border(#ddd, before, top)
    &:last-child
      pixel-border(#ddd, after, bottom)
    &:hover
      background: #f8f8f8
  a
    text-decoration: none
    display: flex
    @media mobile_query
      flex-flow: column
  .cover
    flex: none
    size: 400px  (400px / $coverRatio)
    margin-right: 64px
    max-height: 230px
    background: no-repeat center / cover
    @media mobile_query
      size: 100% 150px
      margin-right: 0
  .info
    flex: 1
    @media mobile_query
      padding: 15px
    span
    em
    time
      margin-right: 12px
      font-size: 14px
      font-style: normal
      line-height: 1
      color: rgba(#0a0a0a, .45)
    em
      color: rgba(#0a0a0a, .65)
    h3
      margin: 16px 0
      font-size: 24px
      line-height: 33px
      color: #0a0a0a
    .abstract
      margin: 22px 0 56px
      clamp(3)
      font-size: 16px
      line-height: 22px
      height: 66px
      color: rgba($black, .45)
      @media mobile_query
        height: auto
        margin: 22px 0
  .fa-long-arrow-right
    flex: none
    margin: 20px
    font-size: 28px
    @media mobile_query
      align-self: flex-end
      margin: -36px 0 0

.article-main
  margin-bottom: 50px
  overflow-x: hidden
  
  header
    margin: 126px 0 96px
    p
      margin-bottom: 56px
      font-size: 32px
      color: rgba($black, .65)
    h1
      font-size: 42px
      color: $black
  .banner
    size: 100% 0
    padding-bottom: $coverHeightRatio
    position: relative
    background: #000 no-repeat center / cover
    // &::before
    // &::after
    //   content: ''
    //   display: block
    //   position: absolute
    //   left: 0
    //   top: 0
    //   size: 40% 100%
    //   background: linear-gradient(to right, #000 40%, rgba(#000, .3) 75%, rgba(#000, 0) 100%)
    // &::after
    //   right: 0
    //   left: unset
    //   background: linear-gradient(to left, #000 40%, rgba(#000, .3) 75%, rgba(#000, 0) 100%)
    // @media mobile_query
      // size: 100vw (100vw / $coverRatio)
      // &::before
      //   background: linear-gradient(to right, #000 20%, rgba(#000, 0) 100%)
      // &::after
      //   background: linear-gradient(to left, #000 20%, rgba(#000, 0) 100%)
  .content
    margin: 30px 0 50px
    font-size: 20px
    line-height: 2
    img
    video
      max-width: 100%
  @media mobile_query
    header
    .content
      padding-left: 15px
      padding-right: 15px
    header
      margin: 40px 0 30px
      p
        margin-bottom: 25px
        font-size: 18px
      h1
        font-size: 28px
    .content
      font-size: 16px

.article-nav
  display: flex
  justify-content: space-between
  font-size: 20px
  .nav-link
    color: rgba($black, .45)
    text-decoration: none
    display: flex
    align-items: center
    &:hover
      color: rgba($black, .75)
  .nav-title
    ellipsis()
  .fa
    margin: 0 7px
  @media mobile_query
    .nav-title
      font-size: 0
      &.left::before
        content: '前一篇'
        font-size: 20px
      &.right::before
        content: '后一篇'
        font-size: 20px

.showcase-section
  margin-top: 96px
  h2
    margin: 0 0 40px
    font-size: 32px
    color: rgba($black, .85)
  .intro
    margin: -15px 0 96px
    font-size: 39px
    color: rgba($black, 0.85)
    line-height: 1.7
    @media mobile_query
      font-size: 24px
  .banner-list
    list-style: none
    padding: 0
    .primary-banner
      margin-bottom: 96px
      position: relative
      display: block
      size: 100% 686px
      background: no-repeat center / cover
      &::before
        content: ''
        display: block
        size: 100%
        top: 0
        left: 0
        background: rgba(#000, .2)
        transition: all .3s ease
      &:hover::before
        background: rgba(#000, .4)
      @media mobile_query
        size: 100% 60vh
    header
      position: absolute
      left: 40px
      bottom: 40px
      line-height: 1
      color: #f0f0f0
      p
        font-size: 30px
        margin-bottom: 15px
      h3
        font-size: 35px

.btn-success
  padding: 6px 23px
  background: $green
  &:hover
    background: darken($green, 20%)

.index-main
  margin-bottom: 40px
