<!-- BEGIN SOCIAL -->
<ul class="social-footer list-unstyled list-inline">
  <% for(var s in theme.social) { %>
    <li><a href="<%- url_for(theme.social[s]) %>"><i class="fa fa-<%= s %>"></i></a></li>
  <% } %>
</ul>  
<!-- END SOCIAL -->
