<%
  var categories = site.categories.filter(c => config.main_categories.includes(c.name));
  var primary = config.main_categories[0];
%>
<div class="category-tabs">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <% categories.forEach(function(cat){ %>
        <li class="<%- cat.name === current ? 'active' : '' %> ">
          <% if (cat.name === current) { %>
            <%= cat.name %>
          <% } else { %>
            <a href="<%= url_for(cat.name === primary ? '/archives/' : cat.path) %>"><%= cat.name %></a>
          <% } %>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
