<%
  var categories = site.categories.filter(c => config.main_categories.includes(c.name));
%>
<div class="category-tabs">
  <div class="container">
    <ul>
      <% categories.forEach(function(cat){ %>
      <li class="<%- cat.name === current ? 'active' : '' %> ">
        <a href="<%= url_for(cat.path) %>"><%= cat.name %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
