<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">шо╛шоб</li>
  </ul>
<div id="main">
  <%- partial('_partial/tabs') %>
  <%# partial('_partial/archive', {pagination: config.archive, index: false}) %>
</div>
</div>
