<%- partial('_partial/tabs', { current: page.category }) %>
<div class="container">
  <section id="main">
    <div class="col-md-12 main-archive">
      <h1><%- page.category %></h1>
      <%- partial('_partial/showcase-list', { posts: page.posts }) %>
    </div>
  </section>
</div>
